body{
    background-color: gray;
}
#cabecalho{
    text-align: right;

}
h1{
    text-align: center;
}
.fundo{
    background-color: Gray;
}
.Centro{
    background-color: rgb(130, 255, 184);

}
p{
    font-family: Impact;
}
.login{
    text-align: center;

}
